{% if is_paginated %}
    <div class="pagination">
		<ul>        
            {% if page_obj.has_previous %}
            	<li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
            {% endif %}
			<li class="active">
	        	<a href="#">Page {{ page_obj.number }} of {{ paginator.num_pages }}. </a>
	    	</li>
			{% if page_obj.has_next %}
    			<li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        
        </ul>
    </div>
{% endif %}